<div class="modal fade" id="modalPaiementAssuranceMid-haul-ax2019205" tabindex="-1" role="dialog" aria-labelledby="modalPaiementAssuranceMid-haul-ax2019205">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content background-bleu-claire">
            <div class="modal-header">
                <p class="modal-title">Assistance rapatriement et bagages</p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>Remboursement des frais médicaux sur place,  assistance rapatriement et  couverture de vos bagages sur place</p>
                    <a href="http://doc.loisirsencheres.com/pdf/Insurance/Insurance-AX2019205.pdf" target="_blank"><u>Télécharger le descriptif complet de l'assurance</u></a>
                </div>
            </div>
        </div>
    </div>
</div>