<div class="modal fade" id="modalPaiementAssuranceMultirisquepremium" tabindex="-1" role="dialog" aria-labelledby="modalPaiementAssuranceMultirisquepremium">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Option premium sécurité</p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>Prise en charge en cas de catastrophe naturelle, émeute, grève de compagnie aérienne et/ou aéroport, acte de terrorisme.</p>
                    <a href="http://doc.loisirsencheres.com/pdf/Insurance/Insurance-Security.pdf" target="_blank"><u>Télécharger le descriptif complet de l'assurance</u></a>
                </div>
            </div>
        </div>
    </div>
</div>