<div class="modal fade" id="casinoRgpdModal" tabindex="1" role="dialog" aria-labelledby="casinoRgpdModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-content modal-iframe">
            <div class="modal-body">
                <span class="loader">Chargement...</span>
            </div>
        </div>
    </div>
</div>