<div id="bidisautoandequal" class="modal fade">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-body">
                <p><b>Cette enchère a été dépassée par <span class="text-info">une enchère automatique</span> :</b><br /><br />elle est prioritaire sur une enchère du même montant. En effet chronologiquement la mise a été soumise antérieurement, lorsque l’enchère automatique a été faite.</p>
            </div>
        </div>
    </div>
</div>