<div id="bidisauto" class="modal fade">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-body">
                <p><b>Cette enchère est <span class="text-info">une enchère automatique</span> :</b><br /><br />Cette enchère est une enchère automatique programmée par un utilisateur, elle est réglée pour surenchérir progressivement jusqu'à atteindre son maximum si besoin.<br />
                À enchère égale une enchère automatique prime sur une enchère directe.</p>
            </div>
        </div>
    </div>
</div>