<div class="modal fade" id="reservicepriceModal" tabindex="-1" role="dialog" aria-labelledby="reservicepriceLabel" data-ga-title="Explication prix de reserve modal" data-ga-page="/auction/reservePriceModal">
  <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-body">
                <p>À la fin du décompte, la dernière mise doit avoir dépassé le prix de réserve pour que l'enchère soit adjugée. Il n'est pas visible afin de ne pas influencer le montant des mises.</p>
                <p>Cela nous permet d'assurer au partenaire une garantie minimum tout en vous permettant de remporter l’offre convoitée au meilleur prix !</p>
            </div>
        </div>
  </div>
</div>
