<div id="whatisautoauction" class="modal fade">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Qu'est-ce qu'une enchère automatique ?</p>
            </div>
            <div class="modal-body">
                <p>Cette enchère vous intéresse, mais vous n'avez pas le temps de surveiller l'évolution de son prix ? Loisirs Enchères s'en charge pour vous et vous propose de choisir le montant maximum que vous seriez prêt à payer (hors frais de dossier). Notre système enchérira automatiquement pour vous dès que nécessaire.</p>
                <a href="{{ path('faq.section', {'section': 'jencheris-automatiquement-115001069389'})}}" target="_blank" class="btn btn-block center-block btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
</div>
