{% if useCasino %}
    <div class="col-xs-8">
        <p class="section-title">Montant trop élevé ?</p>
    </div>
    <div class="col-xs-4 text-left">
        <img src="{{assetCdn}}/assets/gfx/logopayment/4xcb-casino.png" alt="4X CB">
    </div>
    <div class="col-xs-12">
        <p>Soulagez votre porte-monnaie et payez par Carte Bancaire en trois ou quatre fois !
            <br>
            <span class="btn-link"> En savoir plus...</span></p>
    </div>
{% endif %}