<div class="modal fade" id="wingExemple" tabindex="-1" role="dialog" aria-labelledby="wingExempleLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="{{assetCdn}}/assets/img/modal/wing/enveloppe.jpg" alt="Aperçu de l'enveloppe cadeau" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>