<div class="col-xs-12 col-sm-6">
    <div id="startDate">
        <div class="loader text-center hide"><img src="{{assetCdn}}/assets/gfx/loader.gif?v=20170307" alt="Chargements des dates" /></div>
        <div class="calendarcontainer">
            <div class="module">
                <div class="calendarDefault"></div>
                {% include './auction/partials/calendar.twig' %}
            </div>
        </div>
    </div>
</div>