<div class="cta-fixed" id="submitblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6 col-sm-offset-1 col-md-offset-0">
                <input autocomplete="off" type="hidden" name="step" value="{{ currentStep }}" />
                <input type="submit" name="submit" value="VALIDER LA RESERVATION" class="btn btn-green btn-block center-block"/>
            </div>
        </div>
    </div>
</div>