<div class="col-xs-12" id="breadcrumb-etape">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb mobile text-center row">
                {% for key, val in breadcrumb %}
                    {% if isBreadcrumbFirstStepFake is defined and isBreadcrumbFirstStepFake %}
                        {% set step, backKey = currentStep+1, key-1 %}
                    {% else %}
                        {% set step, backKey = currentStep, key %}
                    {% endif %}
                    <li class="{% if step >= key %}active{% endif %}{% if loop.first %} first{% elseif loop.last %} last{% endif %} col-xs-{{ 12/breadcrumb|length }}">
                        {% if step > key %}
                            <form method="POST">
                                <input type="hidden" name="back" value="{% if step > key %}{{backKey}}{% else %}{{key}}{% endif %}" />
                                <button name="submit" value="back" class="btn-link">{{ val.title }}</button>
                            </form>
                        {% else %}
                            <div><div>{{ val.title }}</div></div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <ol class="progressbar row">
                {% for key, val in breadcrumb %}
                    {% if isBreadcrumbFirstStepFake is defined and isBreadcrumbFirstStepFake %}
                        {% set step = currentStep+1 %}
                    {% else %}
                        {% set step = currentStep %}
                    {% endif %}
                    <li class="col-xs-{{ 12/breadcrumb|length }}{% if step >= key %} active{% endif %}"></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>