<h2>NOS GARANTIES</h2>
<ul class="list-unstyled row">
    <li class="col-xs-12 col-sm-6">
        <i class="icon-product-quality"></i>
        <span>Paiement 100% sécurisé</span>
    </li>
    <li class="col-xs-12 col-sm-6">
        <i class="icon-product-quality"></i>
        <span>Service client à votre écoute</span>
    </li>
    <li class="col-xs-12 col-sm-6">
        <i class="icon-product-quality"></i>
        <span>Note moyenne de 4.2/5 sur toutes nos prestations</span>
    </li>
</ul>
<div class="clearfix"></div>
<p class="text-muted"><small>Vous rencontrez un problème ? Contactez-nous à info@loisirsencheres.com ou par téléphone au 09 73 72 91 92</small></p>

