<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Signalement Spam Loisirs Enchères</title>
    {% include 'bootstrap-fa.css.twig' %}
    {% include './include/google-analytics.html.twig' %}
    <!--[if lt IE 9]>
        <script defer src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script defer src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <link href="{{assetCdn}}/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
        <link href="/assets/img/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
        <script defer src="/assets/js/respond.proxy.js"></script>
    <![endif]-->
  </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p class="lead">Merci.<br />Votre signalement a bien été pris en compte.</p>
                <p class="lead">Vous avez été automatiquement désinscrit de la liste de diffusion de Loisirs Enchères.</p>
            </div>
        </div>
    </body>
</html>