{# empty Twig template #}
{% extends 'layout/html.twig' %}
{% block metaDesc %} Vous aimez les enchères ? Loisirs Enchères vous gâte avec ce voyage de rêve : gagnez un séjour en Crète pour 2 personnes en participant à notre jeu-concours !{% endblock %}
{% block hasLightFooter %}yes{% endblock %}

{% block main_content %}
    <style type="text/css">
            .info_important{
                color:#0080D9;
                font-weight: 700;
            }
            .text-underline{
                text-decoration: underline;
            }
            hr{
                color:#0080D9;
            }
            .title-section{
                line-height: 1.5;
                font-weight: 500;
            }
    </style>

<div  class="container">
    <br />
    <h1 style="font-size:18px;text-transform: uppercase;text-align: center;">Voyage de rêve en Crète pour 2 à gagner !</h1>
    <h4><spam class="title-section">Vous étiez sur le point d’enchérir ? Bonne idée ! En cas de gain et du paiement de cette enchère, vous seriez automatiquement sélectionné pour faire partie d’un tirage au sort très spécial. À gagner ? Un séjour de 4 jours en Crète pour 2 personnes !<br />
            Pour participer au tirage au sort suivez les étapes suivantes :</spam><br /><br /><br />
            &nbsp;1. <spam class="info_important">Remportez une enchère</spam> entre le 15 et le 21 juin 2017<br /><br />2. <spam class="info_important">Réglez votre enchère</spam> avant le 21 juin 2017 à minuit pour valider votre participation.<br /><br />3. Le gagnant sera tiré au sort le 22 juin et contacté dans la foulée.<br /><br />
    </h4>
        <p><spam class="text-underline">Astuce</spam> : pensez à renseigner votre numéro de téléphone dans votre compte, ceci nous permettra de vous appeler directement si vous êtes l’heureux(se) gagnant(e) !<br />
        Une seule participation par compte.</p><br />
    <h4>Bonne chance !</h4> 
</div>
<div class="row col-lg-12">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6"><hr></div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6"><a href="https://www.loisirsencheres.com/product/2693" target="_blank"> <b>En savoir + sur cette offre</b></a></div>
</div>
<div class="row col-lg-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1482743251/product/p2238_750x459_17.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1497430493/product/p2238_750x459_26.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1497430493/product/p2238_750x459_27.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
</div>
<div  class="container">
<div class="row col-lg-12">
    <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 text-justify paddingbottom2">
        <h2 class="ico-paperclip">Contenu de l'offre</h2>
        <spam class="text-underline">Séjour pour 2 personnes en Crète (Grèce) :</spam><br />
        - les vols aller-retour de Paris Orly (ORY) à La Canée (CHQ) ;<br />
        - 1 bagage en soute de 20 kg et 1 bagage cabine de 5kg par voyageur ;<br />
        - 4 nuits 5* en chambre double Garden View (vue jardin) au Cretan Pearl Resort & Spa ;<br />
        - la pension complète (petits déjeuners, déjeuners et dîners) ;<br />
        - 30 min par jour d’accès à la salle de relaxation avec sauna et jacuzzi (serviettes de plage et piscine fournies) ;<br />
        - l'accès illimité à la salle de fitness ;<br />
        - une boisson de bienvenue.<br /><br />

        Ne comprend pas : les pourboires et dépenses personnelles ; nles transferts aéroport/hôtel/aéroport ; toute prestation non mentionnée dans le contenu de l’offre;
        les assurances voyage. <br /><br />

        Si vous êtes ressortissant français, aucun visa n'est nécessaire pour ce voyage, seul un passeport ou une carte d’identité en cours de validité vous sera demandé.<br />
        Si vous êtes d'une nationalité autre que française, pensez à vous renseigner auprès de votre ambassade sur place ou votre Ministère des Affaires Étrangères.<br />
        Les admissions sur un territoire étant à la discrétion des autorités locales compétentes, Loisirs Enchères ne saurait être tenu pour responsable en cas de refus d'entrée.<br /><br />

        Transport prévu à bord de la compagnie low-cost Transavia (alternative possible Aegean ou Bristish Airways)
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 text-justify paddingbottom2">
        <h2 class="ico-cutlery">Restauration</h2>
        Votre formule "pension complète" inclut les prestation suivantes au Myrto Main Restaurant, de votre arrivée à l'hôtel jusqu'à votre départ<br /><br />

        <spam class="text-underline">Petit-déjeuner</spam><br />
6h-7h30 : Petit-déjeuner matinal (sur demande)<br />
7h30-10h30 : Buffet américain complet avec spécialités locales<br />
11h-17h30 : Snack au Lounge bar (avec sandwiches, gâteaux, cookies, desserts, glaces)<br /><br />

<spam class="text-underline">Déjeuner</spam><br />
12h30-14h30 : Buffet international au restaurant principal Myrto : Grill (poisson, viande, légumes), pizza, spaghetti, frites, entrées froides et chaudes, salades et desserts<br /><br />

<spam class="text-underline">Dîner</spam><br />
18h30-21h30 : Buffet international au restaurant principal Myrto : Buffet à thème, salades différentes chaque jour, entrées froides et chaudes, fruits, pâtisseries, boissons (vin local, eau, bières pression et boissons non-alcoolisées)<br /><br />

Ces informations vous sont données à titre indicatif et peuvent être soumises à modifications.<br /><br />

Ces prestations ne sont valables qu'à ces horaires et au Myrto Main Restaurant). Se restaurer dans un autre établissement peut engendrer des frais supplémentaires<br />
    </div>
</div>
<div class="row col-lg-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1482743251/product/p2238_750x459_9.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1482743251/product/p2238_750x459_15.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"><img src="//img.loisirsencheres.fr/loisirs/image/upload/v1482743250/product/p2238_750x459_1.jpg" alt="Séjour de 4 nuits 5* pour 2 personnes en Crète" title="jeu concours crète 2016"></div>
</div>
<div class="row col-lg-12">
    <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 text-justify paddingbottom2">
        <h2 class="ico-bed">Hébergement</h2>
        Votre hôtel est situé dans l'est de l'île, sur le littoral nord, à environ 16 km de la ville de La Canée et 11 km de l'aéroport international (CHQ).<br />
Il offre une vue imprenable sur la mer et offre un espace bien-être de 2 000m2 comprenant 2 piscines extérieures.<br /><br />

<spam class="text-underline">Heure d’arrivée : 14h (J1) / Heure de départ : 12h (midi, J7).</spam><br /><br />

D'une surface de 30 à 35m², votre chambre double Garden View dispose :<br /><br />

d'un lit King Size en cuir<br />
d'un canapé-lit<br />
d'un balcon privé avec vue sur la montagne<br />
d'une douche pluie<br />
 Un surclassement en chambre avec vue sur la mer est possible selon disponibilité.<br />
Bénéficiez également de 10% de réduction sur tous les soins du Spa de l'hôtel.<br /><br />

Les hôtels sont présentés avec leur classification locale (NL) selon les normes en vigueur dans chaque pays.<br />
Activités et infrastructures disponibles sur place selon saison et affluence.<br />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 text-justify paddingbottom2">
        <h2 class="ico-plane">Horaires des vols</h2>
        ALLER (J1) : Décollage d'Orly à 6h00 - Atterrissage à La Canée à 10h30<br />
RETOUR (J5) : Décollage de La Canée à 18h40 - Atterrissage à Orly à 21h25<br />
Les horaires sont données à titre indicatif et sont susceptibles d’être modifiées sans préavis.<br /><br />

<spam class="text-underline">Votre billet autorise, pour chaque voyageur à :</spam><br /><br />

1 bagage en soute de 20 kg<br />
1 un bagage cabine de 5kg<br />
La restauration est payante à bord.<br /><br />

L'indication de jours ne signifie pas que ce nombre de jours sera passé sur place, mais indique la durée de votre prise en charge à partir de la convocation de l'aéroport le jour du départ (J1) jusqu'à votre arrivée à l'aéroport le jour du retour (J5).<br />
    </div>
</div>
</div>
{% endblock %}
{% block prependContainter %}
        <div class="container-fluid nopadding">
        <picture title="jeu concours crète 2016">
                    <source media="(min-width: 1200px)" srcset="//img.loisirsencheres.fr/loisirs/image/upload/v1497518426/slider/landing-page-jeux-concour-1920x500.jpg 1x">
                    <source media="(min-width: 992px)" srcset="//img.loisirsencheres.fr/loisirs/image/upload/v1497519131/slider/landing-page-jeux-concour-1190x300.jpg 1x">
                    <source media="(min-width: 768px)" srcset="//img.loisirsencheres.fr/loisirs/image/upload/v1497519741/slider/landing-page-jeux-concour-911x275.jpg 1x">
                    <source media="(min-width: 320px)" srcset="//img.loisirsencheres.fr/loisirs/image/upload/v1497520512/slider/landing-page-jeux-concour-767x400.jpg 1x">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1497518426/slider/landing-page-jeux-concour-1920x500.jpg " alt="jeu concours crète 2016" title="jeu concours crète 2016" class="img-responsive">
        </picture>
        </div>
{% endblock %}   
