{% extends 'layout/html-app.twig' %}

{% block main_content %}
    <div class="col-xs-12">
        <div class="text-center">
            <h2>Merci de mettre à jour l'application</h2>
            Cette version de l'application est trop ancienne et n'est plus supportée.
            Rendez-vous sur <br />
            l'<a href="https://itunes.apple.com/us/app/loisirs-ench%C3%A8res/id987860898?mt=8">Apple Store</a>
            ou
            <a href="https://play.google.com/store/apps/details?id=net.sharewire.loisirsencheres">Android Play Store</a>
            <br />
            Merci pour votre compréhension.
        </div>
    </div>
{% endblock %}
