<div class="{{ colClass }} placeholder-block">
    <div class="placeholder-container">
        <div class="placeholder-animated">
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker load" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
            <div class="masker" aria-hidden="true"></div>
        </div>
    </div>
</div>
