<div class="modal fade" id="modalparrainage" tabindex="-1" role="dialog" aria-labelledby="modalparrainage">
    <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FONCTIONNEMENT DU SYSTÈME DE PARRAINAGE</h4>
            </div>
            <div class="modal-body">
                {% include './content/parrainage-text.twig' with {'lightbox': true} %}
            </div>
        </div>
    </div>
</div>