<div id="parrainageSuccess" class="modal fade godchildForm">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Votre demande de parrainage a bien été envoyée</p>
            </div>
            <div class="modal-body text-center">
                Vous pouvez suivre son évolution dans l'onglet <a href="{{ path('user.parrainage') }}"><strong>Parrainer mes ami(e)s</strong></a>
            </div>
        </div>
    </div>
</div>