<div id="parrainageError" class="modal fade godchildForm">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Votre demande de parrainage n'a pas pu être prise en compte </p>
            </div>
            <div class="modal-body text-center">
                Peut-être que l'adresse que vous avez renseignée est erronée , <br />que cette personne a déjà un parrain ou qu'elle est déjà inscrite ?
            </div>
        </div>
    </div>
</div>