{% extends 'layout/html.twig' %}

{% block title %}VOTRE DEMANDE DE RÉSERVATION{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'paiement.css.twig' %}
{% endblock %}
{% block main_content %}
    {% include './paiement/warning.html.twig' %}
    <div class="row content" id="confirmation">
        <div class="col-xs-10 col-xs-offset-1 nopadding-only">
            <h1 class="text-center nopadding"><strong>VOTRE RÉSERVATION A BIEN ÉTÉ PRISE EN COMPTE !</strong></h1>
            <div class="block-separ-bottom block-separ-top">    
                <p class="text-center">Retrouvez les informations concernant votre réservation dans l'onglet 'Mes achats' d'ici quelques minutes.</p>
            </div>
            <div class="text-center block-separ-top"><img src="{{assetCdn}}/assets/gfx/logopayment/illustration-validation-to.png" alt="#" width="375" /></div>
        </div>
        {% if not isApp(app.request) %}
        <div class="col-xs-10 col-xs-offset-1 nopadding-only block-separ-top block-separ-bottom">
            <a href="{{ path('user.purchase') }}" class="btn btn-primary btn-block">VOIR MES ACHATS</a>
        </div>
        <div class="col-xs-10 col-xs-offset-1 nopadding-only">
            <p class="text-center"><a href="{{ path('user.parrainage')}}">Parrainez vos ami(e)s et gagnez jusqu'à 200€ !</a></p>
        </div>
        {% endif %}
    </div>                     
{% if not isApp(app.request) %}
    {% include './paiement/include/gtm.twig' %}
{% endif %}
{% endblock %}