<div class="row">
    <div class="col-xs-12">
        <h2>Offrez cette enchère !</h2>
    </div>
    <div class="col-xs-12">
        <picture>
            <source media="(min-width: 992px)" srcset="{{assetCdn}}/assets/img/encard-livraison-immediate-desktop.png 1x">
            <img src="{{assetCdn}}/assets/img/encard-livraison-immediate-tablette.png" alt="Livraison immédiate" title="Livraison immédiate" class="img-responsive">
        </picture>
    </div>
</div>