<div class="row">
    <div class="col-xs-6 col-sm-12">
        <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1458657850/ressource/logo-sudouest-journal-02.png" alt="#"/>
    </div>
    <div class="col-xs-6 col-sm-12">
        <p style="font-size: 14px; margin: 0;">Une semaine d'abonnement <br/> SUD OUEST numérique OFFERT si vous remportez cette enchère</p>
        <p style="font-size: 10px;">Offre valable jusqu’au 30/04/2016</p>
    </div>
</div>
