<div class="visible-xs visible-sm hidden-md hidden-lg">
    <img src="{{ section.imageMobile|cdnUrl|noprotocol }}" alt="{{ section.altMobile }}" class="img-responsive center-block">
</div>
<div class="hiddien-xs hidden-sm visible-md visible-lg">
    <img src="{{ section.image|cdnUrl|noprotocol }}" alt="{{ section.alt }}" class="img-responsive center-block">
</div>
