<article id="verifies" class="hidden-xs">
    <section class="container">
        <div class="row">
            <lazy-frame
                    href="//cl.avis-verifies.com/fr/cache/d/7/0/d70df594-0a4f-1214-9d62-8c50762d182b/widget4/d70df594-0a4f-1214-9d62-8c50762d182bhorizontal_index.html"
                    id="AV_widget_iframe"
                    width="100%"
                    title="Avis vérifiés"
                    :device="['desktop']"
            ></lazy-frame>
        </div>
    </section>
</article>