<div class="modal fade" id="errorAssurance" tabindex="-1" role="dialog" aria-labelledby="errorAssuranceLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Disposez-vous déjà d'une assurance pour ce voyage ?</p>
            </div>
            <div class="modal-body">
                <p>Si c'est le cas vous pouvez l'indiquer en validant 'Aucune' dans notre liste et passer à l'étape suivante. Sinon merci de choisir une de nos assurances afin de pouvoir voyager en toute sérénité.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">J'ai compris</button>
            </div>
        </div>
    </div>
</div>