{% if isApp(app.request) %}
    <button type="button" id="modalUserNav" data-state="closed" data-toggle="modal" data-target="#myModalUserNav" class="center-block btn btn-block">
        <i class="icon-mon-profil text-right"></i> <span class="text-right">Mon compte <span style="font-size: 12px;">▼</span></span>
    </button>
{% endif %}
