<div class="modal fade" id="confirmEmail" tabindex="-1" role="dialog" aria-labelledby="confirmEmail">
    <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="myModalLabel">Les autres enchérisseurs n'ont aucune chance <img src="{{assetCdn}}/assets/img/modal/register/force.png" alt="#" /></p>
            </div>
            <div class="modal-body text-center">
                <p>Pour aller plus loin, vous devez néanmoins confirmer votre e-mail</p>
            </div>
        </div>
    </div>
</div>