<div class="modal fade" id="userCreditcardModal">
    <div class="modal-dialog modal-sm6">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="userCreditcardModalTitle">Ajouter une carte de paiement</h4>
            </div>
            <div class="modal-body">&nbsp;</div>
        </div>
    </div>
</div>