<form class="form-inline" id="validationPhoneCode" style="display: none">
    <div class="form-group">
        <label for="code" class="sr-only">Code SMS de validation</label>
        <input type="text" class="form-control input-lg" id="code" placeholder="Code SMS de validation" required="">
    </div>
    <button type="submit" class="btn btn-warning"> VALIDER </button>
    <p class="text-warning hide"></p>
    <p class="text-danger hide" aria-hidden="true"></p>
</form>
