{% if false %}
    <div class="warning">Pas d’inquiétude : Notre partenaire de paiement rencontre un problème technique temporaire, il est donc impossible de régler vos enchères actuellement. Nous vous prions de bien vouloir nous excuser pour ce désagrément et faisons en sorte que la situation soit réglée au plus vite!</div>
{% endif %}