{% extends 'layout/html.twig' %}

{% block title %}Equipe Loisirs Enchères{% endblock %}

{% block main_content %}
<div itemscope itemtype="http://schema.org/Organization">
    <div class="row block-separ-top">
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-9">
            <h1>L'équipe <span itemprop="name">Loisirs Enchères</span></h1>
            <p class="text-justify">Loisirs Enchères c'est avant tout une aventure humaine, découvrez ici ceux qui vous permettent de définir le prix de vos loisirs !<br class="visible-md" />
            Si vous souhaitez rejoindre l'aventure, rendez-vous sur notre <a href="{{ path('content.recrutement') }}">page recrutement</a>.</p>
        </div>
        <div class="col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center col-md-3 col-md-offset-2 col-lg-offset-1 col-lg-2">
            <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461931924/logo/label-happy-at-work-startup-2016.jpg" alt="#" />
        </div>
    </div>
    <div class="row block-separ-top">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1541425560/ressource/michael-2018.png" alt="Michael" width="250px" itemprop="image" />
                <figcaption itemprop="name">Michael</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1533043956/ressource/federic2018.png" alt="Frédéric" width="250px" itemprop="image" />
                <figcaption itemprop="name">Frédéric</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510150580/ressource/guido-2017.png" alt="Guido" width="250px" itemprop="image" />
                <figcaption itemprop="name">Guido</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036692/ressource/simon.png" alt="Simon" width="250px" itemprop="image" />
                <figcaption itemprop="name">Simon</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510150580/ressource/nicolas-2017.png" alt="Nicolas" width="250px" itemprop="image" />
                <figcaption itemprop="name">Nicolas</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510147819/ressource/victor-2017.png" alt="Victor" width="250px" itemprop="image" />
                <figcaption itemprop="name">Victor</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1454080391/jeremie.png" alt="Jérémie" width="250px" itemprop="image" />
                <figcaption itemprop="name">Jérémie</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510150580/ressource/sophia-2017.png" alt="Jiazhi" width="250px" itemprop="image" />
                <figcaption itemprop="name">Jiazhi</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510147820/ressource/paul-2017.png" alt="Paul" width="250px" itemprop="image" />
                <figcaption itemprop="name">Paul</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1524129658/ressource/Martin-2018.png" alt="Martin" width="250px" itemprop="image" />
                <figcaption itemprop="name">Martin</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1485354714/ressource/matthieu.png" alt="Matthieu" width="250px" itemprop="image" />
                <figcaption itemprop="name">Matthieu</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1454085820/chloe.png" alt="Chloé" width="250px" itemprop="image" />
                <figcaption itemprop="name">Chloé</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1548427050/ressource/clemence-2019.png" alt="Clemence" width="250px" itemprop="image" />
                <figcaption itemprop="name">Clemence</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1510150580/ressource/kevin-2017.png" alt="Kévin" width="250px" itemprop="image" />
                <figcaption itemprop="name">Kévin</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1485355025/ressource/alexandre.png" alt="Alexandre" width="250px" itemprop="image" />
                <figcaption itemprop="name">Alexandre</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1485354714/ressource/maxime.png" alt="Maxime" width="250px" itemprop="image" />
                <figcaption itemprop="name">Maxime</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/alban.png" alt="Alban" width="250px" itemprop="image" />
                <figcaption itemprop="name">Alban</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/charlotte-lemaitre.png" alt="Charlotte" width="250px" itemprop="image" />
                <figcaption itemprop="name">Charlotte</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1533043956/ressource/charlotte2018.png" alt="Charlotte" width="250px" itemprop="image" />
                <figcaption itemprop="name">Charlotte</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/antoine.png" alt="Antoine" width="250px" itemprop="image" />
                <figcaption itemprop="name">Antoine</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1550064878/ressource/alberic-2019.png" alt="Alberic" width="250px" itemprop="image" />
                <figcaption itemprop="name">Alberic</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036692/ressource/thomas-c.png" alt="Thomas" width="250px" itemprop="image" />
                <figcaption itemprop="name">Thomas</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1550064879/ressource/caroline-2019.png" alt="Caroline" width="250px" itemprop="image" />
                <figcaption itemprop="name">Caroline</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/elysabeth2019.png" alt="Elysabeth" width="250px" itemprop="image" />
                <figcaption itemprop="name">Elysabeth</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1521639008/ressource/matieu.png" alt="Mathieu" width="250px" itemprop="image" />
                <figcaption itemprop="name">Mathieu</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1523893203/ressource/hadrien.png" alt="Hadrien" width="250px" itemprop="image" />
                <figcaption itemprop="name">Hadrien</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1533043956/ressource/tiphaine.png" alt="Tiphaine" width="250px" itemprop="image" />
                <figcaption itemprop="name">Tiphaine</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1533043956/ressource/laura_j.png" alt="Laura" width="250px" itemprop="image" />
                <figcaption itemprop="name">Laura</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/vincent.png" alt="Vincent" width="250px" itemprop="image" />
                <figcaption itemprop="name">Vincent</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1535724259/maylis.png" alt="Maylis" width="250px" itemprop="image" />
                <figcaption itemprop="name">Maylis</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1535724259/manon.png" alt="Manon" width="250px" itemprop="image" />
                <figcaption itemprop="name">Manon</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1547048672/ressource/Elena.png" alt="Elena" width="250px" itemprop="image" />
                <figcaption itemprop="name">Elena</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1547047795/ressource/Celine.png" alt="Céline" width="250px" itemprop="image" />
                <figcaption itemprop="name">Céline</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1547047795/ressource/salome.png" alt="Salomé" width="250px" itemprop="image" />
                <figcaption itemprop="name">Salomé</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1548427050/ressource/arron.png" alt="Aaron" width="250px" itemprop="image" />
                <figcaption itemprop="name">Aaron</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1550065162/ressource/mary.png" alt="Mary" width="250px" itemprop="image" />
                <figcaption itemprop="name">Mary</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1550064878/ressource/chalotte-D.png" alt="Charlotte D" width="250px" itemprop="image" />
                <figcaption itemprop="name">Charlotte D</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1550064879/ressource/matthieu-F.png" alt="Matthieu F" width="250px" itemprop="image" />
                <figcaption itemprop="name">Matthieu F</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1553185392/ressource/julie-r.png" alt="Julie" width="250px" itemprop="image" />
                <figcaption itemprop="name">Julie</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1576251182/ressource/jean-baptiste.png" alt="Jean-Baptiste" width="250px" itemprop="image" />
                <figcaption itemprop="name">Jean-Baptiste</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1576251182/ressource/nicolas-g.png" alt="Nicolas" width="250px" itemprop="image" />
                <figcaption itemprop="name">Nicolas</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1566487622/ressource/Caroline-R.png" alt="Caroline" width="250px" itemprop="image" />
                <figcaption itemprop="name">Caroline</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1566487563/ressource/Benjamin.png" alt="Benjamin" width="250px" itemprop="image" />
                <figcaption itemprop="name">Benjamin</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1576251182/ressource/charline.g.png" alt="Charline" width="250px" itemprop="image" />
                <figcaption itemprop="name">Charline</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1566487622/ressource/Josephine.png" alt="Joséphine" width="250px" itemprop="image" />
                <figcaption itemprop="name">Joséphine</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1566487622/ressource/Nicolas-J.png" alt="Nicolas" width="250px" itemprop="image" />
                <figcaption itemprop="name">Nicolas</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <figure>
                <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1575036691/ressource/marie.png" alt="Marie" width="250px" itemprop="image" />
                <figcaption itemprop="name">Marie</figcaption>
            </figure>
        </div>
        <div class="col-md-3 col-xs-6 equipe_profil text-center" itemprop="employee" itemscope itemtype="http://schema.org/Person">
            <div class="postuler hidden-md hidden-sm hidden-xs">
                <a href="{{ path('content.recrutement') }}">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1454349766/who-is-next_fmoxug.png" alt="#" />
                </a>
            </div>
            <div class="hidden-lg">
                <a href="{{ path('content.recrutement') }}">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/w_250/q_70/v1454349766/who-is-next_fmoxug.png" alt="#" />
                </a>
            </div>
            <br>
            <p>Envie de rejoindre l'aventure <br>Loisirs Enchères ?
                rendez vous sur notre <a href="{{ path('content.recrutement') }}">page recrutement</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
