<div id="cgu">
    {% if lightbox is not defined %}<h1 class="page-title-h1">FONCTIONNEMENT DU SYSTÈME DE PARRAINAGE</h1>{% endif %}
    <div class="padding-text-mobile">
        <{% if lightbox is not defined %}h2 class="title-h2-page-quality"{% else %}p class="h4"{% endif %}><b>Comment devenir parrain ?</b></{% if lightbox is not defined %}h2{% else %}p{% endif %}>
        <p>Chaque membre de Loisirs Enchères a la possibilité de parrainer ses amis et connaissances. Le parrain reçoit alors 10€ utilisables deux mois si le filleul devient un nouveau client (voir les conditions pour être comptabilisé comme filleul).</p>
        <p>Pour cela, le parrain doit se rendre dans son compte à la rubrique "Parrainer mes amis". Il peut alors choisir d'envoyer un mail, d'effectuer un partage par facebook ou twitter, ou de proposer directement un lien personnalisé. L'ensemble de ces moyens de partage donne accès à une page qui permet au filleul de s'inscrire.</p>
        <br />
        <{% if lightbox is not defined %}h2 class="title-h2-page-quality"{% else %}p class="h4"{% endif %}><b>Comment devenir filleul ?</b></{% if lightbox is not defined %}h2{% else %}p{% endif %}>
        <p>Pour être comptabilisé comme filleul, le proche parrainé doit devenir un nouveau membre de Loisirs Enchères. Pour cela, il doit cliquer sur l'un des partages (email ; publication facebook ou twitter ; lien personnalisé) effectués par le parrain, qui lui donne accès à une page d'inscription dédiée. Il peut également directement s'inscrire sur le site en renseignant l'email de son parrain.</p>
        <p>Une fois inscrit, le filleul recevra un code d'une valeur de 10€, à renseigner lors du paiement de son enchère. Ce code est <b>valable 21 jours</b> à partir de l'inscription, accessible dans la partie "Mes avantages" sur le profil du nouvel inscrit.</p>
        <p>Il est impossible de renseigner le nom de son parrain postérieurement à l'inscription, de même qu'on membre déjà inscrit ne peut procéder à une nouvelle inscription pour renseigner son parrain. Une seule inscription est acceptée par adresse email.</p>
        <p><b>Dans les 31 jours</b> suivant son inscription, le proche parrainé doit remporter et régler une première enchère pour un <b>montant de 15€ minimum</b>. Dès ce montant atteint, le proche parrainé est considéré comme filleul.</p>
        <p>Le parrain est informé des différentes étapes de progression du filleul (En attente d'inscription ; Inscrit ; Enchère remportée : Filleul confirmé).</p>
    </div>
</div>
