{% extends 'layout/html.twig' %}

{% block title %}Confidentialité{% endblock %}

{% block main_content %}
    <h1 class="page-title-h1">Politique de confidentialité de Loisirs Enchères</h1>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 nopadding-only-xs">
            <p>Depuis notre création en avril 2014, nous nous engageons à protéger la confidentialité de vos données. La présente politique de confidentialité est destinée à vous informer de vos droits en matière de données personnelles, de la manière dont nous recueillons et utilisons les données et cookies qui pourraient permettre de vous identifier, et de la manière dont nous les utilisons.</p>
            <p>Le responsable du traitement de vos données est <strong>Loisirs Enchères SAS</strong>, située au 18 rue de la Porte Dijeaux - 33000 Bordeaux France, immatriculée au Registre du Commerce et des sociétés de Bordeaux sous le numéro 801 270 612.</p>
            <p>Vous pouvez à tout moment nous contacter par email à l'adresse <a href="mailto:info@loisirsencheres.com" target="_blanl">info@loisirsencheres.com</a>, ou concernant spécifiquement toute question relative au traitement de vos données personnelles à l'adresse mail <a href="mailto:confidentialite@loisirsencheres.com" target="_blank">confidentialite@loisirsencheres.com</a>.</p>
            <p>Vous pouvez également nous contacter en nous écrivant à :<br/>
            Loisirs Enchères SAS<br/>
            18 rue de la Porte Dijeaux<br/>
            33000 Bordeaux France</p>

            <h2 class="title-h2-page-quality">Loi applicable - attribution de compétence</h2>
            <p>La présente Politique de confidentialité est soumise à la loi française. Tout litige relatif à l'interprétation et à l'exécution de ces Conditions sera de la compétence exclusive des tribunaux de Bordeaux.</p>

            <h2 class="title-h2-page-quality">Vos droits en matière de données personnelles</h2>
            <p>Loisirs Enchères SAS rappelle son engagement à respecter scrupuleusement la loi 78-17 du 6 janvier 1978 relative à « l'informatique, aux fichiers et aux Libertés » ainsi que le Règlement général sur la protection des données, entré en vigueur le 25 mai 2018. Votre satisfaction ayant toujours été notre première priorité, la protection de vos données personnelles et leur traitement de manière responsable sont au cœur de nos préoccupations.</p>
            <p>A ce titre, nous vous informons que vous disposez d'un certain nombre de droits, que vous pouvez exercer à tout moment :<br />
                - droit à la suppression ou la modification de vos données personnelles ;<br />
                - droit de nous demander une copie de ces données ;<br />
                - droit de vous opposer au traitement de vos données personnelles, notamment dans le cas où celles-ci ne sont pas utilisées à des fins contractuelles ou légales – dans le cadre dans leur exploitation marketing pour améliorer la qualité de nos services, par exemple.
            </p>
            <p>En ce qui concerne la modification de vos informations personnelles, vous pouvez toujours exercer ce droit directement sur votre profil (Sur le site : Menu > Mon profil; Sur l'application : Profil > Mes informations).</p>
            <p>En ce qui concerne l'ensemble de vos droits, vous pouvez nous demander directement la modification, la suppression, l'opposition au traitement ou la copie de vos données :<br />
                - par email à l'adresse <a href="mailto:confidentialite@loisirsencheres.com" target="_blank">confidentialite@loisirsencheres.com</a><br />
                - par courrier adressé à Loisirs Enchères SAS – 18 rue de la Porte Dijeaux - 33000 Bordeaux France,</p>
            <p>Merci de mentionner quel droit vous souhaitez exercer. Ces données étant par définition protégées, nous vous demanderons alors des preuves de votre identité.</p>
            <p>En ce qui concerne l'utilisation des cookies, vous pouvez les désactiver, les bloquer ou les supprimer via la rubrique "aide" de votre navigateur Internet pour paramétrer ces fonctions (plus d'informations dans la partie dévolue aux cookies, détaillée dans la rubrique Les informations utilisées par Loisirs Enchères).</p>
            <p>Dans le cas où vous détectez une atteinte légale au traitement de vos données personnelles ou toute infraction à vos droits, nous vous invitons à nous contacter via l'adresse email <a href="mailto:confidentialite@loisirsencheres.com" target="_blank">confidentialite@loisirsencheres.com</a>.</p>

            <h2 class="title-h2-page-quality">La collecte et le traitement de vos données personnelles</h2>
            <h3 class="h4">1. Les informations collectées par Loisirs Enchères</h3>
            <p>Afin de vous fournir le meilleur service possible, Loisirs Enchères utilise deux types de données : celles que nous recueillons automatiquement, et celles que vous nous transmettez en remplissant des champs.</p>
            <h4 class="h5"><b>Informations recueillies automatiquement</b></h4>
            <p>Lorsque vous utilisez la plateforme Loisirs Enchères (site et application), nous recueillons :<br />
                - <b>vos informations d'utilisation :</b> nous enregistrons vos mises, vos préférences et vos achats. Ces informations permettent de vous proposer des services personnalisés, comme par exemple des newsletters ciblées. Vous pouvez toujours vous désinscrire de ce type d'e-mail en cliquant sur le lien prévu à cet effet sur l'e-mail ou via votre compte.  Ces informations nous permettent également de récompenser votre fidélité, en vous proposant des avantages commerciaux tels que des codes promotionnels, dépendant de votre nombre d'achats.<br />
                - <b>vos informations de connexion :</b> nous recueillons certaines informations envoyées par votre navigateur Internet lorsque vous utilisez notre plateforme, même dans le cas où vous n'avez pas créé de compte ou n'êtes pas connecté(e). Ces informations comprennent, entre autres, des informations sur la façon dont vous avez utilisé la plateforme (y compris les liens vers des applications tierces), l'adresse IP, les heures d'accès, des données sur le matériel et les logiciels ainsi que les informations sur l'appareil utilisé. Cela nous permet notamment de vous proposer des contenus plus adaptés, telles que des offres à proximité de votre lieu de connexion ou des formats adaptés à votre appareil de connexion.<br />
                - <b>vos informations sur les transactions :</b> nous conservons les données relatives aux transactions et aux paiements liés suite à vos achats. Cet historique des achats peut être transmis à notre partenaire Banque Casino, uniquement dans le cadre de la validation du paiement en trois ou quatre fois.<br />
                - <b>les cookies :</b> nous utilisons également des cookies ou des techniques similaires aux cookies tels que les numéros d'identification de publicité mobile sur notre site Web et notre application (version mobile). Voir la partie spécifique consacrée aux cookies.
            </p>
            <h4 class="h5"><b>Les cookies</b></h4>
            <p>Un cookie est une donnée qui est stockée sur un ordinateur, tablette ou mobile, lorsque vous naviguez sur internet.<p>
            <p>Les cookies permettent au site internet de reconnaître votre navigateur. Ils sont principalement utilisés pour garder en mémoire vos choix et préférences. Ils ne causent aucun dommage à votre appareil. Ils permettent par exemple d'afficher plus rapidement des pages que vous avez déjà consultées ou de personnaliser les contenus.<br />
                Ils contiennent plusieurs données : le nom du serveur qui l'a déposé, un identifiant sous forme de numéro unique, et éventuellement une date d'expiration.</p>
            <p>Vous avez évidemment la possibilité de désactiver ou d'empêcher le placement de ces cookies. Le paramétrage des cookies dépend du navigateur que vous utilisez. Le plus simple est de consulter la rubrique "aide" de votre navigateur Internet pour paramétrer ces fonctions.</p>
            <p>Lorsque vous naviguez sur loisirsencheres.com, vous nous autorisez à récupérer des données sur votre navigation. Ces données sont ensuite utilisées afin de vous proposer les meilleures offres pouvant répondre à vos attentes, que ce soit sur le site ou par l'envoi des newsletters.</p>
            <p>Ces cookies peuvent être enregistrés par nous ainsi que par des tiers pour des outils de mesure ou de reciblage. Les informations issues de ces cookies peuvent être gardées jusqu'à 3 ans. Pour rappel, vous pouvez à tout moment supprimer vos cookies (consultez la rubrique "aide" de votre navigateur Internet pour paramétrer ces fonctions).</p>
            <p>A noter : si vous choisissez de refuser certains cookies, vous ne pourrez pas utiliser certaines fonctionnalités de notre site. De même, si vous refusez certains cookies publicitaires, cela ne signifie pas que vous ne verrez plus de publicités en ligne. Cela entraînera simplement la présence de publicités qui ne seront plus établies en fonction de vos préférences et votre comportement d'utilisateur. Elles seront par conséquent moins pertinentes pour vous.</p>
            <p>Quels sont les types de cookies utilisés par Loisirs Enchères ?<br />
                - Les cookies techniques : ils sont indispensables pour assurer le bon fonctionnement de notre site.<br />
                - Les cookies fonctionnels : ils permettent de retenir vos préférences. Ils ne sont pas indispensables mais nous permettent d'améliorer et d'adapter nos contenus en fonction de vos attentes.<br />
                - Les cookies analytiques : ils sont utiles afin d'observer la manière dont vous utilisez et naviguez sur le site. Les données que nous collectons comprennent principalement les pages que vous consultez, ouvrez et quittez, le type de navigateur et support que vous utilisez, ainsi que des informations telles que le nombre de clics effectués sur une page donnée.<br />
                - Les cookies publicitaires : ils sont utilisés pour afficher des publicités de loisirsencheres.com sur d'autres sites. C'est ce que l'on appelle le "reciblage", destiné à être fondé sur les recherches que vous avez effectuées sur notre site.<br /><br />
                Les données collectées demeurent anonymes et ne révèlent pas votre identité.</p>
            <h4 class="h5"><b>Informations que vous transmettez</b></h4>
            <p>Lors de votre utilisation de notre plateforme, vous pouvez être amené(e) à nous transmettre :<br />
                - <b>vos informations pour l'inscription :</b> pour utiliser nos services, vous devez créer un compte, pour lequel vous devez entrer votre e-mail et un mot de passe, ainsi que vos prénom et nom, ou bien créer un compte via le réseau social Facebook qui nous transmet directement ces informations de base. A ces informations, est ajouté un identifiant client unique en chiffres, qui vous est attribué lors de l'inscription, qui permet de vous identifier parmi notre base client, et vous identifier plus rapidement dans notre base de données. Vous pouvez retrouver cet identifiant sur votre profil, en premier champ.<br />
                - <b>vos informations de compte :</b> pour optimiser l'utilisation de nos services, certaines informations supplémentaires sont demandées sur votre profil – de manière facultative – à savoir votre date de naissance, votre numéro de téléphone, votre adresse postale, votre code postal, votre ville et votre pays. Ces informations sont utilisées uniquement par nos services, afin de nous permettre soit de vous contacter plus facilement pour des questions relatives au Service client ou au gain de votre enchère, soit de vous proposer des contenus sur nos Plateformes ou via nos e-mails plus pertinents, comme des offres géolocalisées.<br />
                - <b>vos informations de contact / réclamation :</b> nous conservons les échanges que nous avons avec vous lorsque vous contactez notre service client, ainsi que les raisons pour lesquelles vous nous contactez, auxquelles peuvent s'ajouter dans le cas d'une réclamation des informations liées à la prestation.<br />
                - <b>vos réponses à des questionnaires ou sondages :</b> vous pouvez, de manière facultative, être consulté(e) par le biais de questionnaire ou de sondage, en ligne ou via un e-mail. Ces demandes, dont l'utilisation exacte est précisée au début du questionnaire, sont traitées de manière anonyme et leur analyse nous permet soit d'améliorer la qualité de nos services, soit de publier un état des lieux du marché, toujours de manière anonyme, afin de faire évoluer l'ensemble de nos services en ce sens.<br />
                - <b>vos avis sur les offres dont vous avez profité :</b> lorsque vous profitez d'une offre, vous avez la possibilité de laisser un avis sur celle-ci, publié selon les critères de notre charte de publication. Cela permet d'une part de nous donner des retours qualitatifs sur les offres que nous proposons, d'autre part de donner aux autres utilisateurs des informations supplémentaires sur la prestation et sa qualité.</p>
            <h3 class="h4">2. Le traitement de vos informations par Loisirs Enchères</h3>
            <p>Toutes les informations recueillies dans les conditions décrites précédemment ne sont jamais vendues à des tiers, ni exploitées à des fins autres que l'accès à nos services, leur utilisation ou leur amélioration.</p>
            <p>Elles peuvent être utilisées notamment pour :<br />
                - vous permettre <b>l'accès à nos services</b> : l'inscription notamment en vérifiant votre adresse mail, première garantie de sécurité pour éviter les comptes frauduleux susceptibles de porter atteinte au bon déroulement des enchères ; l'identification dans le processus d'enchère et de gain ; le paiement, la facturation et la comptabilité ;<br />
                - afficher <b>la version de notre site ou application la plus adaptée</b> à l'appareil que vous employez ;<br />
                - assurer <b>la relation avec le service client</b> et le suivi des réclamations ;<br />
                - vous contacter pour des relances de paiement ou pour toute <b>autre raison relative à vos achats</b> et nécessaire pour la bonne exécution des prestations achetées ;<br />
                - <b>vous récompenser</b> dans le cadre de notre programme de fidélité et de parrainage, basés sur le nombre de transactions effectuées ;<br />
                - <b>organiser des jeux concours</b>, des loteries ou toute opération promotionnelle à l'exclusion des jeux d'argent et de hasard en ligne soumis à l'agrément de l'Autorité de Régulation des Jeux en Ligne ;<br />
                - effectuer des <b>enquêtes ou études de satisfaction</b>, afin d'améliorer la qualité de nos services ;<br />
                - assurer la <b>gestion et la publication de vos avis</b> sur les offres dont vous avez profité, selon les critères établis par notre charte de publication ;<br />
                - établir des <b>statistiques et analyses internes</b>, tant commerciales que marketing afin d'améliorer nos démarches de prospections, l'ergonomie de nos sites et applications, la pertinence de nos publicités, et de manière plus générale la qualité de nos services ;<br />
                - dans un cadre marketing, de vous offrir du <b>contenu géolocalisé</b>, en nous basant sur votre adresse IP ou votre adresse postale, afin que les offres qui vous sont adressées soient plus pertinentes</p>
            <p>Nous pouvons également être amenés à <b>utiliser vos informations personnelles à des fins légales</b>, et plus précisément pour :<br />
                - prévenir et déceler toute fraude lors de l'utilisation des services de la plateforme ;<br />
                - empêcher l'accès à la plateforme pour les personnes mineures ;<br />
                - appliquer nos Conditions générales de ventes et autres politiques ;<br />
                - répondre à la convocation d'un tribunal dans le cadre d'un litige ;<br />
                - toute autre fin légale, telle que l'exécution de décisions légales ou juridiques.</p>
            <p>Certaines informations – nom, prénom, adresse email - peuvent être <b>communiquées à nos prestataires</b>, dans le cadre de réservation pour une offre que vous avez remportée. C'est le cas notamment lorsque vous remportez une offre avec vol inclus, pour laquelle vous remplissez des champs qui sont ensuite transmis à l'agence de voyage qui a créé le package, et qui réserve les titres de transports à votre nom.</p>

            <h2 class="title-h2-page-quality">La protection de vos données personnelles</h2>
            <p>Le traitement informatisé de vos données personnelles réalisé par Loisirs Enchères a fait l'objet d'une déclaration par Loisirs Enchères SAS auprès de la Commission Nationale de l'Informatique et des Libertés (numéro de la déclaration : 1782317).</p>
            <p>La sécurisation de vos données étant pour nous essentielle, nous avons mis en place de nombreuses procédures afin de protéger l'accès à vos données. Ainsi, outre le cryptage des données, tout accès à nos bases de données et adresses email internes est soumis à une double vérification. Les accès aux données personnelles de nos clients sont limités aux seules personnes habilitées les traiter, via un système d'accès spécifique à chaque service.</p>
            <p>Vous devez vous connecter à l'aide d'un mot de passe. Nous vous invitons à procéder à la modification de votre mot de passe et à nous contacter immédiatement dès lors que vous détectez une utilisation frauduleuse de votre compte, via l'adresse e-mail <a href="mailto:confidentialite@loisirsencheres.com" target="_blank">confidentialite@loisirsencheres.com</a>.</p>
        </div>
    </div>
{% endblock %}
