{% extends 'layout/html.twig' %}

{% block title %}L'engagement qualité{% endblock %}

{% block main_content %}
<div id="qualite">
    <h1 class="page-title-h1">L'engagement qualité Loisirs Enchères</h1>
    <div class="row">
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">1</span><h2 class="title-h2-page-quality"><b>L'accès gratuit au service</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Nous nous engageons à vous donner l’accès à nos services gratuitement : créer votre compte ; découvrir nos offres sélectionnées ; enchérir sur celle qui vous plaît. Vous ne payez que lorsque vous remportez l'enchère.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461164106/ressource/acces-gratuit.png" alt="#" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">2</span><h2 class="title-h2-page-quality"><b>La sélection des offres proposées</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Les offres proposées sur notre site et notre application font l'objet d'une sélection préalable et sont soumises au prisme de critères qualitatifs précis afin de vous garantir une expérience mémorable.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461164120/ressource/selection.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">3</span><h2 class="title-h2-page-quality"><b>Des prestations de qualité quel que soit votre prix</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Peu importe le prix auquel vous avez remporté l'enchère, nous garantissons contractuellement avec nos partenaires que l’accueil qui vous est réservé est le même que celui d’une personne qui a payé plein tarif pour les mêmes prestations que les vôtres.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461162850/ressource/qualite.png" alt="#" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">4</span><h2 class="title-h2-page-quality"><b>Un fonctionnement transparent </b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Notre objectif est de vous permettre d'enchérir sur nos offres sélectionnées en ayant toutes les informations nécessaires. Nous vous indiquons clairement les frais de dossiers appliqués sur chaque enchère, et procédons à un examen attentif des prix publics communiqués par nos partenaires. Le prix public de l’offre affiché n’est plus appliqué par le partenaire? Cela nous a peut-être échappé. N’hésitez pas à nous le dire, afin que nous procédions à une modification immédiate.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461162849/ressource/fonctionnement.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">5</span><h2 class="title-h2-page-quality"><b>La sécurité de vos données</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>La priorité numéro 1 de notre service informatique est d'assurer la sécurité de vos données. Que ce soit lors de vos transactions bancaires ou concernant vos données personnelles, nous protégeons vos informations personnelles, qui ne seront pas communiquées à des tiers (sauf accord express de votre part).</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461162849/ressource/securite.png" alt="#" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">6</span><h2 class="title-h2-page-quality"><b>La prise en compte de votre avis</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Que ce soit au travers d’enquêtes téléphoniques, des réseaux sociaux, d'envoi de questionnaires de satisfaction ou par le biais de nos ambassadeurs clients, nous nous engageons à continuellement améliorer nos services en suivant vos avis et souhaits. Alors faites nous part de vos remarques !</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461164107/ressource/avis.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">7</span><h2 class="title-h2-page-quality"><b>Un service client réactif</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Vous avez une question, une remarque, une réclamation ? Nous nous engageons à vous répondre dans les 48h ouvrées suivant la première prise de contact, que ce soit par téléphone de 15h00 à 17h30 du lundi au vendredi, par email via notre formulaire de contact. Nous ne travaillons pas avec des centres d’appels et notre service client est internalisé pour vous garantir une réponse adaptée.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461164292/ressource/service.png" alt="#" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1 nopadding-only-xs nopadding-only-sm col-md-offset-0">
            <span class="quality-number">8</span><h2 class="title-h2-page-quality"><b>Vous faire découvrir toujours plus d'activités</b></h2>
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <p>Notre ambition est d’obtenir votre totale confiance. Aussi, parce que nous pensons que les loisirs et les vacances amènent à une plus grande ouverture d’esprit et à la rencontre de nouvelles cultures, nous oeuvrons jour après jour à vous proposer une offre sans cesse renouvelée et incluant des activités insolites que vous n'avez sans doute jamais testées auparavant.</p>
                </div>
                <div class="col-sm-3 hidden-xs">
                    <img src="//img.loisirsencheres.fr/loisirs/image/upload/v1461162849/ressource/decouvrir.png" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
